* {
  margin: 0;
  box-sizing: border-box;
}

:root {
  font-size: 14px;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  color: #1d1d1f;
}

button {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
